:root {
    --light-blue: #0A91DE;
    --deep-cyan: #727B81;
    --deep-cyan-text: #666F74;
    --grey: #DDDDDD;
    --box-shadow: 10px 10px 19px 0px rgba(236, 239, 241, 1);
}

body {
    font-family: "Manrope", sans-serif;
}

.inner-container {
    max-width: 77.5rem;
    margin: 0 auto;
    background-color: var(--grey);
}

h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
    color: var(--deep-cyan);
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: .5rem;
    color: var(--deep-cyan);
    border-bottom: 1px solid var(--grey);
}

span {
    color: var(--light-blue);
}

ul {
    list-style-type: none;
    padding: 0;
}

.side-bar {
    padding: 1rem;
    width: 232px;
    height: 100vh;
    background-color: white;
    border: 1px solid var(--grey);
}

nav {
    margin-top: 1.5rem;
}

li a {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    color: var(--deep-cyan-text);
}

li a:hover {
    font-weight: bold;
}

a {
    font-size: 1.125rem;
    text-decoration: none;
}

svg {
    width: 1.6875rem;
    stroke: var(--deep-cyan);
}

.sub-menu a {
    padding: .5rem;
    border-bottom: 1px solid var(--grey);
}

.sub-menu a:hover {
    color: var(--light-blue);
}

.sub-menu {
    position: absolute;
    left: 24.25rem;
    top: 6.5rem;
    width: 10.875rem;
    background-color: white;
    border: 1px solid var(--light-blue);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    padding: 1.125rem;
    visibility: hidden;
    opacity: 0;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}